
@using OrderBookTestTask.Application.Dtos
@using Radzen.Blazor
<div class="row">
    <div class="col-md-12">
        <RadzenChart>
            <RadzenLegend Visible="false" />
            <RadzenColumnSeries Data="@Chart.BidsChart.Concat(Chart.AsksChart)" CategoryProperty="Label" Title=""
                LineType="LineType.Dashed" ValueProperty="Value" Fills=@Colors />
            <RadzenColumnOptions Radius="5" />
            <RadzenValueAxis Formatter="@FormatValueAxis">
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Amount" />
            </RadzenValueAxis>
        </RadzenChart>
    </div>
</div>

@code {
    [Parameter]
    public OrderBookChartDto Chart { get; set; }

    private string[] Colors =>
        Chart.AsksChart.Select(x => "green")
        .Concat(Chart.BidsChart.Select(x => "red"))
        .ToArray();

    private string FormatValueAxis(object value)
    {
        return Math.Round((double)value, 3).ToString();
    }
}