@rendermode InteractiveServer
@using Microsoft.AspNetCore.Http.Connections.Client
@using Microsoft.AspNetCore.SignalR.Client
@using OrderBookTestTask.Dtos
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>@TradingPair</PageTitle>

<h1>@TradingPair</h1>
@if (Asks.Count() == 0 || Bids.Count() == 0)
{
    <p>Loading...</p>
}
else
{
    <p>Asks: @Asks.Select(ask => ask[0]).First()</p>
}

@code {
    private HubConnection? _hubConnection;
    private string[][] Asks { get; set; } = new string[0][];
    private string[][] Bids { get; set; } = new string[0][];

    [Parameter]
    public string? TradingPair { get; set; }


    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri(Constants.SignalR.HubUrls.OrderBookHub), configureHttpConnection)
            .Build();
            

        _hubConnection.On<string[][], string[][]>(Constants.SignalR.Methods.ReceiveOrderBook, (asks, bids) =>
        {   
            Asks = asks;
            Bids = bids;
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
        await _hubConnection.InvokeAsync(Constants.SignalR.Methods.JoinRoom, TradingPair);
    }

    private static Action<HttpConnectionOptions> configureHttpConnection = (configureHttpConnection) =>
        configureHttpConnection.HttpMessageHandlerFactory = (message) =>
        {
            if (message is HttpClientHandler clientHandler)
                clientHandler.ServerCertificateCustomValidationCallback +=
                    (sender, certificate, chain, sslPolicyErrors) =>  true;
            return message;
        };

}